.reviews
	padding-bottom 98px
.container-reviews
	max-width 940px
	margin 0 auto
.reviews-blocks
	display flex
	flex-decoration row
	flex-wrap nowrap
	flex 1
	span
		font-size 1.7rem
		text-transform uppercase
		display block
		font-weight 700
	p
		color #999999
		font-size 1.3rem
		font-weight 700
	.block-left
		width 80%
		span
			color btncolor
	.block-right
		width 100%
		span
			color bgcolorMF
		input
		textarea
			margin 1.3em 0 1.3em 0
			width 100%
			outline none
			border 0
			border-bottom 1px solid #e5e5e5
			font-size 1.3rem
			color #999999
			&::placeholder
				font-size 1.3rem
				color #999999
				font-style italic
		.right-photo
			padding-bottom 1.3em
			span
				line-height 2.3
		.right-capcha
			.capcha-in
				width 55%
			
			.capcha-btn
				display flex
				flex-direction row
				justify-content space-between
				align-items flex-end
				
.error-message
	color red !important
	font-size 1rem !important
.error
	input
	textarea
		border-bottom 1px solid red !important
		
.button-size-s
	border 0
	font-size 2.14rem
	padding 10px 15px
	outline none
	cursor pointer
.button-size-m
	border 0
	font-size 1.3rem
	letter-spacing 1px
	
	padding 20px 45px
	outline none
	cursor pointer
.btn-rev
	float left
	margin-right 20px
	
.btn-form
	float right
	
@media (max-width 320px)
	.reviews-blocks
		flex-direction column
		.block-right
			width 80%
			margin 0 0 0 20px
			.right-photo
				span
					line-height 40px
	.button-size-m 
		padding 10px 22.5px

@media (min-width 321px) and (max-width 480px)
	.reviews-blocks
		flex-direction column
		.block-right
			width 80%
			margin 0 0 0 20px
			.right-photo
				span
					line-height 40px
	.button-size-m 
		padding 10px 22.5px
		
@media (min-width 768px) and (max-width 768px)
	.reviews-blocks
		.block-right
			width 50%