footer#navfooter
	.footer
		.container
			.footer-blocks
				.block-left.text-left
					a(href="#")
						img(src="./blocks/b-nav_menu/b-nav_menu/logo.png" alt="logo")
					img(src="./blocks/b-jobs/b-jobs/separator.png" alt="" class="separ")
					p(class="text-left") Дисклеймер компании
					
				.block-center.text-center
					span Мы в соцсетях
					img(src="./blocks/b-jobs/b-jobs/separator.png" alt="")
					.social
						a(href="#")
							img(src="./blocks/b-footer/b-footer/sprites/instagram.png" alt="instagram")
						a(href="#")
							img(src="./blocks/b-footer/b-footer/sprites/twitter.png" alt="twitter")
						a(href="#")
							img(src="./blocks/b-footer/b-footer/sprites/facebook.png" alt="facebook")
					
				.block-right.text-right
					span Адрес
					img(src="./blocks/b-jobs/b-jobs/separator.png" alt="")
					p г. Минск, ул. Скрыганова, 6А, 4 этаж
					
	.footer-end.text-center
		.container
			span Copyrights 2015 © Webcom Media

.navpagination
	a(id="pag-navmain" href="#navmain")
	a(id="pag-navjobs" href="#navjobs")
	a(id="pag-navinformation" href="#navinformation")
	a(id="pag-navreviews" href="#navreviews")
	a(id="pag-navreviews" href="#navreviews")

a(id="btn-toTop" title="Наверх")
	img(src="./blocks/b-footer/b-footer/sprites/btn-toTop.png")

#myModal.modal
	.modal-content.text-center
		span#close.close &times;
		h4.text-center Оформить заявку
		form(action="")
			label
				span Ваше имя
				input(type="text" name="name" placeholder="Иванов Иван")
			label
				span Телефон
				input(type="text" name="phone" placeholder="+375 (44) 123-45-67")
			button(type="button" onclick="validate(this.form)" class="button button-size-x btn-modal") Отправить
