.footer
	background bgcolorMF url('../../blocks/b-footer/b-footer/footer-bg.png') no-repeat center center
	padding 60px 0
.footer-blocks
	display flex
	flex-direction row
	justify-content space-between
	.block-left
		.separ
			display block
	span
		display block
		color #fff
		font-size (16/14)rem
		font-weight bold
		text-transform uppercase
	p
		color #fff
		font-size 1rem

	.block-left
		img
			margin-bottom 20px
	.block-center
	.block-right
		span
			margin-bottom 40px
		img
			margin-bottom 20px
		p 
			margin 0
			width 200px
			text-align right
	.block-center
		.social
			img
				margin 0 10px
				transform rotate(0deg)
				transition all .5s ease
				&:hover
					transform rotate(360deg)
		
.text-left
	text-align left
	
.text-right
	text-align right
	
.text-center
	text-align center
	
.footer-end
	background-color bgcolorFb
	padding 25px 0
	color #fff
	text-transform uppercase
	letter-spacing 2px
	border-bottom 2px solid btncolor
	
@media (max-width 1024px)
	.block-left
		margin-left 20px
	.block-right
		margin-right 20px

@media (max-width 480px)
	.footer-blocks
		flex-wrap wrap
		span
			font-size 1.4rem
		p
			font-size 1.4rem
		.block-left
			img
				margin-bottom 10px
		.block-center
		.block-right
			span
				margin-bottom 50px !important
			img
				margin-bottom 20px !important
		.block-right
			margin-left 20px 
			text-align left
			p
				text-align left !important

@media (min-width 321px) and (max-width 480px)
	.footer-blocks
		.block-center
			margin-right 20px
	