footer
	.footer
		.container
			.footer-blocks
				.block-left.text-left
					a(href="#")
						img(src="./blocks/b-nav_menu/b-nav_menu/logo.png" alt="logo")
					img(src="./blocks/b-jobs/b-jobs/separator.png" alt="" class="separ")
					p(class="text-left") Дисклеймер компании
					
				.block-center.text-center
					span Мы в соцсетях
					img(src="./blocks/b-jobs/b-jobs/separator.png" alt="")
					.social
						a(href="#")
							img(src="./blocks/b-footer/b-footer/sprites/instagram.png" alt="instagram")
						a(href="#")
							img(src="./blocks/b-footer/b-footer/sprites/twitter.png" alt="twitter")
						a(href="#")
							img(src="./blocks/b-footer/b-footer/sprites/facebook.png" alt="facebook")
					
				.block-right.text-right
					span Адрес
					img(src="./blocks/b-jobs/b-jobs/separator.png" alt="")
					p г. Минск, ул. Скрыганова, 6А, 4 этаж
					
	.footer-end.text-center
		.container
			span Copyrights 2015 © Webcom Media