@import "mixins"

html
body
	font-family regFont
	font-size 14px
	position relative
body
	overflow-x hidden
@import "../blocks/b-nav_menu/b-nav-menu.styl"

@import "../blocks/b-main/b-main.styl"

@import "../blocks/b-jobs/b-jobs.styl"

@import "../blocks/b-information/b-information.styl"
