regFont = 'Roboto', sans-serif
itFont = 'Roboto', sans-serif
boldFont = 'Roboto', sans-serif
bgcolorMF = #28363d
bgcolorFb = #1e292f
btncolor = #ff8207
menucolor = #e0e1e1
siteMinWidth = 320px
siteMaxWidth = 1920px

xs = 480px
sm = 767px
md = 991px
lg = 1199px
xl = 1680px
