section.swiper
	.swiper-container
		.swiper-wrapper
			.swiper-slide 
				.main-title
					h1 Главный заголовок
					span(class="title-delimiter")
						img(src="./blocks/b-main/b-main/delimiter.png" alt="")
				h4(class="main-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad necessitatibus impedit, tenetur, quo eveniet accusantium. Quis, reiciendis fugit?
				a(href="#" class="button button-size-l") Оформить заявку
			.swiper-slide
				.main-title
					h1 Главный заголовок 2
					span(class="title-delimiter")
						img(src="./blocks/b-main/b-main/delimiter.png" alt="")
				h4(class="main-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad necessitatibus impedit, tenetur, quo eveniet accusantium. Quis, reiciendis fugit?
				a(href="#" class="button button-size-l") Оформить заявку
			.swiper-slide
				.main-title
					h1 Главный заголовок 3
					span(class="title-delimiter")
						img(src="./blocks/b-main/b-main/delimiter.png" alt="")
				h4(class="main-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad necessitatibus impedit, tenetur, quo eveniet accusantium. Quis, reiciendis fugit?
			.swiper-slide
				.main-title
					h1 Главный заголовок 4
					span(class="title-delimiter")
						img(src="./blocks/b-main/b-main/delimiter.png" alt="")
				h4(class="main-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad necessitatibus impedit, tenetur, quo eveniet accusantium. Quis, reiciendis fugit?
				a(href="#" class="button button-size-l") Оформить заявку
			.swiper-slide
				.main-title
					h1 Главный заголовок 5
					span(class="title-delimiter")
						img(src="./blocks/b-main/b-main/delimiter.png" alt="")
				h4(class="main-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad necessitatibus impedit, tenetur, quo eveniet accusantium. Quis, reiciendis fugit?

		.swiper-pagination

		.swiper-button-next
		.swiper-button-prev
