doctype html
html
	include ../layouts/head.pug
	body
		include ../blocks/b-nav_menu/b-nav_menu.pug
		include ../blocks/b-main/b-main.pug
		include ../blocks/b-jobs/b-jobs.pug
		include ../blocks/b-information/b-information.pug
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='../assets/js/libs.js')
		script(src='../assets/js/common.min.js')