-var images = ["Monitor.svg","Magic_wand.svg","Rocket.svg","Globe-2.svg","Settings.svg","Layers.svg","Wrench.svg","Note.svg"];
-var h5 = ["Преимущество 1","Преимущество 2","Преимущество 3","Преимущество 4","Преимущество 5","Преимущество 6","Преимущество 7","Преимущество 8"];
section#navinformation.information
	.container
		.section__title
			h2(class="section__title-head") Почему мы
			img(class="section__title-icon" src="./blocks/b-jobs/b-jobs/separator.png")
			p(class="section__title-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis similique libero, vero doloribus, beatae quis laudantium obcaecati. Eligendi ab expedita, libero quo nisi iure sed eius aut earum commodi.

		.information__blocks
			- for (var i = 0; i < images.length; i++) {
				.information__blocks-block
					img(class="information__blocks-block-icon" src="./blocks/b-information/b-information/sprites/" +images[i] alt=images[i])
					h5(class="information__blocks-block-head")=h5[i]
					p(class="information__blocks-block-description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			- }


