.information
	padding-bottom 60px
.information__blocks
	display: flex
	flex-direction row
	flex-wrap nowrap
	&:last-child
		margin-top 60px

.block-info
	flex 1
	text-align center
	h5
		color bgcolorMF
		font-size (16/14)rem
		text-transform uppercase
		letter-spacing 2px
	span
		display block
		width 80%
		margin 0 auto
		color #8198a0