section.information
	.container
		.section__title
			h2 Почему мы
			span
				img(src="./blocks/b-jobs/b-jobs/separator.png")
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis similique libero, vero doloribus, beatae quis laudantium obcaecati. Eligendi ab expedita, libero quo nisi iure sed eius aut earum commodi.

		.information__blocks
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Monitor.svg" alt="monitor")
				h5 Преимущество 1
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Magic_wand.svg" alt="monitor")
				h5 Преимущество 2
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Rocket.svg" alt="monitor")
				h5 Преимущество 3
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Globe-2.svg" alt="monitor")
				h5 Преимущество 4
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Settings.svg" alt="monitor")
				h5 Преимущество 5
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Layers.svg" alt="monitor")
				h5 Преимущество 6
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Wrench.svg" alt="monitor")
				h5 Преимущество 7
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.
			.block-info
				img(src="./blocks/b-information/b-information/sprites/Note.svg" alt="monitor")
				h5 Преимущество 8
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, architecto, vero.