section.jobs
	.container
		.section__title
			h2 Наша работа
			img(src="./blocks/b-jobs/b-jobs/separator.png")
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis similique libero, vero doloribus, beatae quis laudantium obcaecati. Eligendi ab expedita, libero quo nisi iure sed eius aut earum commodi.
		
		.jobs-blocks
			.block
				img(class="block-logo" src="./blocks/b-jobs/b-jobs/jobs-block-img.png")
				.block-hid
					h5 Название работы
					span
						img(src="./blocks/b-jobs/b-jobs/separator.png")
					p Описание работы
			.block
				img(class="block-logo" src="./blocks/b-jobs/b-jobs/jobs-block-img.png")
				.block-hid
					h5 Название работы
					span
						img(src="./blocks/b-jobs/b-jobs/separator.png")
					p Описание работы
			.block
				img(class="block-logo" src="./blocks/b-jobs/b-jobs/jobs-block-img.png")
				.block-hid
					h5 Название работы
					span
						img(src="./blocks/b-jobs/b-jobs/separator.png")
					p Описание работы
			.block
				img(class="block-logo" src="./blocks/b-jobs/b-jobs/jobs-block-img.png")
				.block-hid
					h5 Название работы
					span
						img(src="./blocks/b-jobs/b-jobs/separator.png")
					p Описание работы
			.block
				img(class="block-logo" src="./blocks/b-jobs/b-jobs/jobs-block-img.png")
				.block-hid
					h5 Название работы
					span
						img(src="./blocks/b-jobs/b-jobs/separator.png")
					p Описание работы
			.block
				img(class="block-logo" src="./blocks/b-jobs/b-jobs/jobs-block-img.png")
				.block-hid
					h5 Название работы
					span
						img(src="./blocks/b-jobs/b-jobs/separator.png")
					p Описание работы