.jobs
	background url('../../blocks/b-jobs/b-jobs/jobs-bg.jpg') no-repeat -150px -300px
	border-bottom 2px solid #b5c4c4
	margin 10px 0 0 0
.section__title
	width 55%
	margin 0 auto
	text-align center
	padding 60px 0
	h2
		margin 0
		font-size 3.06rem
		text-transform uppercase
		letter-spacing .6rem
		color bgcolorMF
		font-weight 100
	img
		padding 25px 0
	p
		margin 0
		color #8198a0
		font-size 1.3rem
		
.jobs-blocks
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-around
.jobs-blocks__block
	position relative
	background-color bgcolorMF
	height 320px
	flex-basis 440px
	margin-bottom 20px
	cursor pointer
	&:hover > .jobs-blocks__block-hidden
		opacity 1
		transform translateY(0)
	.jobs-blocks__logo
		display block
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		margin auto
		
.jobs-blocks__block-hidden
	width 100%
	height 105px
	opacity 0
	background-color #d4d7d8
	position absolute
	bottom 0
	transition all .3s ease
	transform translateY(-200px)
	h5
		margin 0
		font-size 1.3rem
		color bgcolorMF
		text-transform uppercase
		padding 15px 0 10px 55px
	p
		color #7b7b7b
		text-transform uppercase
		font-size 1.14rem
		margin 0
		padding 10px 0 15px 55px
	span
		padding-left 55px


@media (max-width 1024px)
	.jobs-blocks__block
		height 350px
	.jobs-blocks__block-hidden
		h5
			font-size 1.07rem
			padding-left 20px
		p
			font-size 0.93rem
			padding-left 20px

				
@media (min-width 481px) and (max-width 768px)
	.jobs-blocks__block
		height 350px
@media (max-width 320px)
	.section__title
		width 90%
@media (min-width 320px) and (max-width 480px)
	.section__title
		width 90%
	.jobs-blocks__block-hidden
		width 100%
		opacity 1
		transform translateY(0px)
		
@media (min-width 320px) and (max-width 768px)
	.jobs
		background url('../../blocks/b-jobs/b-jobs/jobs-bg.jpg') no-repeat -150px 1700px