-var nav_a = ['#navmain','#navjobs','#navinformation','##','#navreviews','#navreviews'];
-var a_name = ['Главная','Портфолио','Преимущества','Схема работы','Отзывы','Контакты'];
nav#nav.nav
	.container
		.nav-blocks
			.nav-blocks__logo
				a(href="#")
					img(src="./blocks/b-nav_menu/b-nav_menu/logo.png" alt="logo")
			
			.nav-blocks__menu
				ul.nav-blocks__menu-ul
					- for (var i = 0; i < nav_a.length; i++) {
						li
							a(href=nav_a[i])=a_name[i]
					- }
					
			.nav-blocks__phone
				a(href="tel:+375291234567") +375(29)123-45-67
				a(href="tel:+375291234567") +375(29)123-45-67

			.nav-burg#nav-burg
				.nav-burg__span
					a(href="##")
						span
						span
						span

		.menu-hidden#menu-hidden
			ul.menu-hidden__ul
				- for (var i = 0; i < nav_a.length; i++) {
					li
						a(href=nav_a[i])=a_name[i]
				- }


