nav#nav.nav
	.container
		.nav-blocks
			.nav__logo.logo
				a(href="#")
					img(src="./blocks/b-nav_menu/b-nav_menu/logo.png" alt="logo")
			
			.nav__menu.menu
				ul.menu__ul
					li 
						a(href="#navmain") Главная
					li 
						a(href="#navjobs") Портфолио
					li 
						a(href="#navinformation") Преимущества
					li 
						a(href="##") Схема работы
					li 
						a(href="#navreviews") Отзывы
					li 
						a(href="#navreviews") Контакты
			.nav__phone
				a(href="tel:+375291234567") +375(29)123-45-67
				a(href="tel:+375291234567") +375(29)123-45-67

			#nav__burg.nav__burg
				.burg
					a(href="##")
						span
						span
						span

		#hidmnu.nav__hidmnu
			ul.hidmnu__ul
				li 
					a(href="#navmain") Главная
				li 
					a(href="#navjobs") Портфолио
				li 
					a(href="#navinformation") Преимущества
				li 
					a(href="##") Схема работы
				li 
					a(href="#navreviews") Отзывы
				li 
					a(href="#navreviews") Контакты


