html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
}
body {
  overflow-x: hidden;
}
.nav {
  background-color: #28363d;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 4;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.nav__logo {
  float: left;
  padding-top: 39px;
}
.menu__ul {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.menu__ul li {
  margin-right: 20px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.033571428571429rem;
  list-style: none;
}
.menu__ul li a {
  display: block;
  width: 100%;
  height: 67px;
  text-decoration: none;
  color: #e0e1e1;
  text-transform: uppercase;
  padding: 50px 0 0 0;
}
.menu__ul li a:hover {
  border-bottom: 3px solid #ff8207;
}
.menu__ul li a:focus {
  background-color: #1e292f;
  border-bottom: 3px solid #ff8207;
  color: #6b848c;
}
.nav__phone {
  float: right;
  padding-top: 26px;
}
.nav__phone a {
  display: block;
  font-size: 1.714285714285714rem;
  font-weight: 700;
  color: #ff8207;
  text-decoration: none;
  margin-bottom: 10px;
}
.nav__burg {
  display: none;
}
.nav__burg .burg {
  float: right;
  margin: 40px 20px 0 0;
}
.nav__burg .burg span {
  display: block;
  width: 40px;
  background-color: #ff8207;
  height: 4px;
  margin-bottom: 8px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.nav__burg .burg a:hover > span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.span--focused {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nav__hidmnu {
  display: none;
  position: absolute;
  right: 0;
  top: 120px;
  width: 100%;
  background-color: #28363d;
}
.nav__hidmnu .hidmnu__ul {
  padding: 0;
  text-align: center;
}
.nav__hidmnu .hidmnu__ul li {
  margin: auto;
  display: block;
  width: 90%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.nav__hidmnu .hidmnu__ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.nav__hidmnu .hidmnu__ul li a {
  color: #ff8207;
  text-decoration: none;
  font-size: 1.8rem;
}
@media (max-width: 1024px) {
  .menu__ul {
    padding: 0;
  }
  .menu__ul li {
    font-size: 0.714285714285714rem;
  }
  .nav__logo {
    margin-left: 10px;
  }
  .nav__logo img {
    width: 80%;
  }
  .nav__phone {
    margin-right: 10px;
  }
  .nav__phone a {
    font-size: 1.285714285714286rem;
  }
}
@media (max-width: 768px) {
  .nav__phone {
    display: none;
  }
  .nav__menu {
    display: none;
  }
  .nav__logo {
    margin-left: 20px;
    padding-top: 40px;
  }
  .nav__logo img {
    width: 100%;
  }
  .nav__burg {
    display: block;
  }
}
.swiper {
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  background: url("../../blocks/b-main/b-main/main-bg.jpg") no-repeat center center;
  border-bottom: 2px solid #ff8207;
}
.swiper-container {
  height: 1000px;
  max-width: 1400px;
}
.swiper-slide {
  text-align: center;
  height: 100%;
  position: relative;
  padding-top: 200px;
}
.swiper-button-prev {
  background-image: url("../../blocks/b-main/b-main/arrow-prev.png");
  left: 6%;
}
.swiper-button-next {
  background-image: url("../../blocks/b-main/b-main/arrow-next.png");
  right: 6%;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #28363d;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #ff8207;
}
.main-title {
  position: relative;
  z-index: 1;
  color: #28363d;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1.428571428571429rem;
  font-weight: bold;
}
.main-title h1 {
  font-size: 3.077142857142857rem;
  margin: 0;
  padding-bottom: 35px;
}
.title-delimiter {
  background-color: transparent;
  position: relative;
  z-index: 1;
  text-align: center;
}
.title-delimiter:before,
.title-delimiter:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 2px;
  background: #28363d;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.title-delimiter:before {
  right: 5px;
  margin: 0 0 0 -100%;
}
.title-delimiter:after {
  left: 5px;
  margin: 0 -100% 0 0;
}
.main-description {
  font-size: 1.716428571428571rem;
  text-transform: uppercase;
  line-height: 35px;
  color: #28363d;
  opacity: 0.7;
  width: 50%;
  margin: 0 auto;
  padding: 40px 0 175px;
}
.button {
  position: relative;
  text-transform: uppercase;
  background-color: #ff8207;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.button-size-l {
  font-size: 1.785714285714286rem;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 20px 30px;
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 150px;
}
@media (max-width: 1024px) {
  .main-title h1 {
    font-size: 2.506666666666666rem;
  }
  .main-description {
    font-size: 1.25rem;
  }
  .button-size-l {
    font-size: 1.25rem;
  }
}
.jobs {
  background: url("../../blocks/b-jobs/b-jobs/jobs-bg.jpg") no-repeat -150px -320px;
  border-bottom: 2px solid #b5c4c4;
  padding-bottom: 40px;
}
.section__title {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}
.section__title h2 {
  margin: 0;
  font-size: 3.064285714285714rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #28363d;
  font-weight: 100;
}
.section__title span img {
  padding: 25px 0;
}
.section__title p {
  margin: 0;
  color: #8198a0;
  font-size: 1.285714285714286rem;
}
.jobs-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.block {
  position: relative;
  background-color: #28363d;
  height: 320px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px 20px 20px;
  cursor: pointer;
}
.block:hover > .block-1,
.block:hover > .block-2,
.block:hover > .block-3,
.block:hover > .block-4,
.block:hover > .block-5,
.block:hover > .block-6 {
  overflow: visible;
  height: 105px;
}
.block .block-logo {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6 {
  width: 100%;
  height: 0px;
  background-color: #d4d7d8;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.block-1 h5,
.block-2 h5,
.block-3 h5,
.block-4 h5,
.block-5 h5,
.block-6 h5 {
  margin: 0;
  font-size: 1.285714285714286rem;
  color: #28363d;
  text-transform: uppercase;
  padding: 15px 0 10px 55px;
}
.block-1 p,
.block-2 p,
.block-3 p,
.block-4 p,
.block-5 p,
.block-6 p {
  color: #7b7b7b;
  text-transform: uppercase;
  font-size: 1.142857142857143rem;
  margin: 0;
  padding: 10px 0 15px 55px;
}
.block-1 span,
.block-2 span,
.block-3 span,
.block-4 span,
.block-5 span,
.block-6 span {
  padding-left: 55px;
}
@media (max-width: 1024px) {
  .block {
    height: 250px;
  }
  .block-1 h5,
  .block-2 h5,
  .block-3 h5,
  .block-4 h5,
  .block-5 h5,
  .block-6 h5 {
    font-size: 1.071428571428571rem;
    padding-left: 20px;
  }
  .block-1 p,
  .block-2 p,
  .block-3 p,
  .block-4 p,
  .block-5 p,
  .block-6 p {
    font-size: 0.928571428571429rem;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .block {
    height: 200px;
  }
}
.information {
  padding-bottom: 60px;
}
.information__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.information__blocks:last-child {
  margin-top: 60px;
}
.block-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.block-info h5 {
  color: #28363d;
  font-size: 1.142857142857143rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.block-info span {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #8198a0;
}
.reviews {
  padding-bottom: 98px;
}
.container-reviews {
  max-width: 940px;
  margin: 0 auto;
}
.reviews-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-decoration: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.reviews-blocks span {
  font-size: 1.714285714285714rem;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}
.reviews-blocks p {
  color: #999;
  font-size: 1.285714285714286rem;
  font-weight: bold;
}
.reviews-blocks .block-left {
  width: 80%;
}
.reviews-blocks .block-left span {
  color: #ff8207;
}
.reviews-blocks .block-right {
  width: 100%;
}
.reviews-blocks .block-right span {
  color: #28363d;
}
.reviews-blocks .block-right input,
.reviews-blocks .block-right textarea {
  margin: 1.3em 0 1.3em 0;
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.285714285714286rem;
  color: #999;
}
.reviews-blocks .block-right input::-webkit-input-placeholder,
.reviews-blocks .block-right textarea::-webkit-input-placeholder {
  font-size: 1.285714285714286rem;
  color: #999;
  font-style: italic;
}
.reviews-blocks .block-right input::-moz-placeholder,
.reviews-blocks .block-right textarea::-moz-placeholder {
  font-size: 1.285714285714286rem;
  color: #999;
  font-style: italic;
}
.reviews-blocks .block-right input:-ms-input-placeholder,
.reviews-blocks .block-right textarea:-ms-input-placeholder {
  font-size: 1.285714285714286rem;
  color: #999;
  font-style: italic;
}
.reviews-blocks .block-right input::placeholder,
.reviews-blocks .block-right textarea::placeholder {
  font-size: 1.285714285714286rem;
  color: #999;
  font-style: italic;
}
.reviews-blocks .block-right .right-photo {
  padding-bottom: 1.3em;
}
.reviews-blocks .block-right .right-photo span {
  line-height: 60px;
}
.reviews-blocks .block-right .right-capcha .capcha-in {
  width: 55%;
}
.reviews-blocks .block-right .right-capcha .capcha-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.button-size-s {
  border: 0;
  font-size: 2.142857142857143rem;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}
.button-size-m {
  border: 0;
  font-size: 1.285714285714286rem;
  letter-spacing: 1px;
  padding: 20px 45px;
  outline: none;
  cursor: pointer;
}
.btn-rev {
  float: left;
  margin-right: 20px;
}
.btn-form {
  float: right;
}
.footer {
  background: #28363d url("../../blocks/b-footer/b-footer/footer-bg.png") no-repeat center center;
  padding: 60px 0;
}
.footer-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-blocks .block-left .separ {
  display: block;
}
.footer-blocks span {
  display: block;
  color: #fff;
  font-size: 1.142857142857143rem;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-blocks p {
  color: #fff;
  font-size: 1rem;
}
.footer-blocks .block-left img {
  margin-bottom: 20px;
}
.footer-blocks .block-center span,
.footer-blocks .block-right span {
  margin-bottom: 35px;
}
.footer-blocks .block-center img,
.footer-blocks .block-right img {
  margin-bottom: 20px;
}
.footer-blocks .block-center p,
.footer-blocks .block-right p {
  margin: 0;
  width: 200px;
  text-align: right;
}
.footer-blocks .block-center .social img {
  margin: 0 10px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.footer-end {
  background-color: #1e292f;
  padding: 25px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #ff8207;
}
@media (max-width: 1024px) {
  .block-left {
    margin-left: 20px;
  }
  .block-right {
    margin-right: 20px;
  }
}
